<div class="container">
  <%= link_to :back do %>
    <div><i class="fas fa-caret-square-left btn-voltar"></i></div>
  <% end %>

  <div class="shadow p-3 mb-5 bg-white rounded edit-box mx-auto">

    <h2 class="text-center">Esqueceu sua senha?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, remote: true) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Enviar-me instruções para redefinir senha", class: "btn btn-dark w-100 mb-2" %>
      </div>
    <% end %>
  </div>
</div>
