<%# <div class="card-candidato flex-grow-1"> %>
<div class="card-candidato">
  <%# <%= link_to candidato_path(candidato), class:"link-candidato stretched-link" do %>
  <%= link_to candidato_path(candidato), class:"link-candidato" do %>
    <div class="text-center mt-2">
        <%= cl_image_tag candidato.photo.key, :transformation=>[
      {:radius=>"max"},
      {:height=>150, :crop=>"scale"}
      ] %>
    </div>
  <% end %>

  <div class="card-candidato-infos">
    <div class="d-flex align-items-start justify-content-between">
      <h2 class="pr-4"><%= candidato.nome_urna %></h2>

      <% if user_signed_in? %>
        <% if current_user.candidatos.include? candidato %>
          <% marcado = current_user.marcados.find_by(candidato_id: candidato.id) %>
          <% if marcado.desativado == true %>
            <%= link_to marcado_path(marcado), method: :patch do %>
              <i class="fas fa-thumbtack pin-cinza"></i>
            <% end %>
          <% else %>
            <%= link_to marcado_path(marcado), method: :patch do %>
              <i class="fas fa-thumbtack pin-amarelo"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to candidato_marcados_path(candidato), method: :post do %>
            <i class="fas fa-thumbtack pin-cinza"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "", data: { toggle: "modal", target: "#exampleModalCenter" } do %>
          <i class="fas fa-thumbtack pin-cinza"></i>
        <% end %>
      <% end %>
    </div>

    <p><i class="fas fa-graduation-cap"></i> <%= candidato.grau_instrucao %></p>

    <p class="mt-2 mb-3"><i class="fas fa-quote-left"></i> <%= candidato.cargo %></p>

    <div class="d-flex justify-content-between align-items-baseline card-bottom">
      <p><%= candidato.estado %></p>
      <h2 class="card-candidato-pricing"><%= candidato.partido %></h2>
    </div>
  </div>
</div>

<div class="modal fade log-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <%= render "shared/login_modal" %>
</div>
