<%# <div class="card-candidato flex-grow-1"> %>
<div class="card-candidato">
  <%# <%= cl_image_tag bicho.candidato.key, height: 300, width: 400, crop: :fill %>
  <div class="card-candidato-infos">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to candidato_path(candidato), class:"link-candidato stretched-link" do %>
        <h2><%= candidato.nome_urna %></h2>
      <% end %>
      <p><i class="fas fa-quote-left"></i> <%= candidato.partido %></p>
    </div>

    <p class="mt-2 mb-3"><i class="fas fa-quote-left"></i> <%= candidato.cargo %></p>

    <div class="d-flex justify-content-between align-items-center mt-2">
      <p><i class="fas fa-quote-left"></i> <%= candidato.estado %></p>
      <div class="d-flex">
        <i class="fas fa-graduation-cap"></i>
        <h2 class="card-candidato-pricing"><%= candidato.grau_instrucao %></h2>
      </div>
    </div>
  </div>
</div>
