<div class="container" style="height: 10px;"></div>

<div id="search-bar-container" class="search-bar-container rounded">
  <%= form_tag candidatos_path, method: :get, class:"d-flex" do %>
    <div id="search-bar" class="search-bar bg-white sticky-top rounded row px-1 py-1 justify-content-center align-items-center mx-auto shadow-sm">
      <div class="d-flex flex-column rounded group-pad group-width">
        <small><%= label_tag :nome, nil, class: 'm-0 label-border-pad' %></small>
        <%= text_field_tag :nome, params[:nome], placeholder: "Nomes...", class: 'search-input input-border-pad' %>
      </div>
      <div class="search-middle-border"></div>
      <div class="d-flex flex-column rounded group-pad group-width">
        <small><%= label_tag :cargo, nil, class: 'm-0 label-border-pad' %></small>
        <%= text_field_tag :cargo, params[:cargo], placeholder: "Cargos...", class: 'search-input input-border-pad' %>
      </div>
      <div class="search-middle-border"></div>
      <div class="d-flex flex-column rounded group-pad group-width">
        <small><%= label_tag :partido, nil, class: 'm-0 label-border-pad' %></small>
        <%= text_field_tag :partido, params[:partido], placeholder: "Siglas...", class: 'search-input input-border-pad' %>
      </div>
      <div class="search-middle-border"></div>
      <div class="d-flex flex-column rounded group-pad group-width">
        <small><%= label_tag :estado, nil, class: 'm-0 label-border-pad' %></small>
        <%= select_tag :estado, options_for_select(Candidato::ESTADOS, params[:estado]), prompt: "Todos", class: "search-input select-gray select-border-pad rounded" %>
      </div>
      <%# <div class="search-middle-border"></div> %>
      <%# <div class="d-flex flex-column rounded group-pad group-width"> %>
        <%# <small><%= label_tag :eleito, "Eleito?", class: 'm-0 label-border-pad' %>
        <%# <%= select_tag :eleito, options_for_select(["Sim", "Não"], params[:eleito]), prompt: "Todos", class: "search-input select-gray select-border-pad rounded" %>
      <%# </div> %>
      <div class="search-btn-margin">
        <%= button_tag(type: "submit", class: "btn btn-dark search-btn-size") do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
