<div class="container">

  <%# Icones de Voltar e de Casinha %>
  <div class="d-flex w-100 align-items-top" style="">
    <%= link_to :back do %>
      <i class="fas fa-caret-square-left btn-voltar pl-0"></i>
    <% end %>
    <%# <div class="text-center my-3 d-inline ml-auto self-align-top" style="font-size: 30px;"> %>
      <%# <i class="fas fa-house-user"></i> %>
    <%# </div> %>
  </div>

  <%# Flex box dos dois boxes %>
  <div class="d-flex mt-2 mb-5 position-relative">
    <%# Box Seguidos %>
    <div class="seguidos-box shadow text-center p-2">
      <%= link_to candidatos_path do %>
        <div class="btn btn-dark"><i class="fas fa-search"></i> Pesquisar políticos</div>
      <% end %>

      <% if @candidatos.blank? %>
        <h6 class="text-left pt-2 text-justify">Acompanhe os políticos que escolher. Basta marcá-los com <i class="fas fa-thumbtack pin-amarelo"></i> ou clicar no botão <span class="btn-warning px-1 rounded">Seguir candidato</span>.</h5>
      <% else %>
        <h5 class="pt-3 pb-1">Políticos seguidos</h5>
        <% i = 1 %>
        <% @candidatos.each do |candidato| %>

          <%# Cards dos Seguidos %>
          <div class="card-lista d-flex my-1 position-relative">
            <h4 class="pl-3 pr-1"><%= i %></h4>
            <% i += 1 %>

            <div class="card-lista-infos text-center flex-grow-1">
              <h2><%= candidato.nome_urna %></h2>
              <p><%= candidato.cargo %></p>
            </div>

            <div class="position-absolute pin">
              <% marcado = current_user.marcados.find_by(candidato_id: candidato.id) %>
              <%= link_to marcado_path(marcado), method: :patch do %>
                <i class="fas fa-thumbtack pin-amarelo"></i>
              <% end %>
            </div>

            <div class="position-absolute partido">
              <p class="mt-2"><strong><%= candidato.partido %></strong></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%# Box principal Candidatos %>
    <div class="candidatos-box mx-auto">
      <% if @candidatos.blank? %>
          <h4>Espaço reservado para o seus políticos <i class="fas fa-arrow-down"></i></h4>
      <% else %>
        <% @candidatos.each do |candidato| %>
          <%# Cards principais dos Candidatos %>
          <div class="candidato-main-card mx-auto">
            <%# Foto do card principal %>
            <%= link_to candidato_path(candidato), class:"" do %>
              <%= cl_image_tag candidato.photo.key, gravity: :face, crop: :crop %>
            <% end %>
            <%# Infos do card principal %>
            <div class="candidato-main-info flex-grow-1 pl-3 align-self-center">
              <%# d-flex justify-content-between %>
              <%# Área da esquerda %>
              <%# <div class=""> %>
                <p>Nome completo: <%= candidato.nome_candidato %></p>
                <p>Nome de urna: <%= candidato.nome_urna %></p>
                <p><i class="fas fa-graduation-cap"></i>  <%= candidato.grau_instrucao %></p>
                <p>Ocupação: <%= candidato.ocupacao %></p>
                <p>Nascimento: <%= candidato.nascimento %></p>
                <p>E-mail: <%= candidato.email %></p>
              <%# </div> %>
              <%# Área da direita %>
              <%# <div class=""> %>
              <%# </div> %>
            </div>
          </div>
          <%# Dropdown area do card principal %>
          <div class="arrow-frame text-right">
            <a class="arrow-dropdown" data-toggle="collapse" href="#candidato-<%= candidato.id.to_s %>" role="button" aria-expanded="false" aria-controls="candidato-<%= candidato.id.to_s %>">
              <i class="fas fa-sort-down"></i>
            </a>
            <div class="collapse" id="candidato-<%= candidato.id.to_s %>">
              <div class="card card-body">
                <%# bens do candidato %>
                <% if candidato.declarados.empty? %>
                  <p class="card-text text-center">Não há bens declarados</p>
                <% else %>
                  <% candidato.declarados.each do |declarado| %>
                    <p class="card-text text-center">Tipo de bem Declarado: <%= declarado.tipo %></p>
                    <p class="card-text text-center">Valor do bem Declarado: R$ <%= declarado.valor %></p>
                    <hr>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
