<%= link_to :back do %>
  <div><i class="fas fa-caret-square-left btn-voltar"></i></div>
<% end %>

<div class="container pt-3 pb-5">
  <div class="card text-center pb-4">
    <div class="card-header">
      <ul class="nav nav-pills card-header-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados básicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="bens-tab" data-toggle="tab" href="#bens" role="tab" aria-controls="bens" aria-selected="false">Bens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="propostas-tab" data-toggle="tab" href="#propostas" role="tab" aria-controls="propostas" aria-selected="false">Propostas</a>
        </li>
        <li class="nav-item ml-auto">
          <% if user_signed_in? %>
            <% if current_user.candidatos.include? @candidato %>
              <% marcado = current_user.marcados.find_by(candidato_id: @candidato.id) %>
              <% if marcado.desativado == true %>
                <%= link_to 'Seguir Político', marcado_path(marcado), method: :patch, class: 'btn btn-warning m-0 btn-seguir' %>
              <% else %>
                <%= link_to 'Deixar de seguir Político', marcado_path(marcado), method: :patch, class: 'btn btn-warning m-0 btn-seguir' %>
              <% end %>
            <% else %>
              <%= link_to 'Seguir Político', candidato_marcados_path(@candidato), method: :post, class: 'btn btn-warning m-0 btn-seguir' %>
            <% end %>
          <% else %>
            <%= link_to 'Seguir Político', "", class: 'btn btn-warning m-0 btn-seguir', data: { toggle: "modal", target: "#exampleModalCenter" } %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="myTabContent">
      <h2 class="card-title text-center mt-3"><%= @candidato.nome_urna %></h2>
      <div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="home-tab">
        <div class="foto-candidato"><%= cl_image_tag @candidato.photo.key, crop: :fit %></div>
        <hr>
        <p class="card-text text-center">Nome completo: <%= @candidato.nome_candidato %></p>
        <p class="card-text text-center">Partido: <%= @candidato.partido %></p>
        <p class="card-text text-center">Cargo pleiteado: <%= @candidato.cargo %></p>
        <p class="card-text text-center">Resultado Eleição <%= @candidato.ano_eleicao %>: <%= @candidato.status_eleicao %></p>
        <%# <p class="card-text text-center">Idade: <%= Date.today.year - @candidato.nascimento.year %>
        <p class="card-text text-center">Data de nascimento: <%= @candidato.nascimento %></p>
        <p class="card-text text-center">Escolaridade: <%= @candidato.grau_instrucao.downcase %></p>
        <p class="card-text text-center">Ocupação anterior: <%= @candidato.ocupacao.capitalize %></p>
        <p class="card-text text-center">Estado: <%= @candidato.estado %></p>
        <p class="card-text text-center">Email para contato: <%= @candidato.email.downcase %></p>
      </div>
      <div class="tab-pane fade text-center" id="bens" role="tabpanel" aria-labelledby="bens-tab">
        <% if @candidato.declarados.nil? %>
          <p class="card-text text-center">Não há bens declarados</p>
        <% else %>
          <% @candidato.declarados.each do |declarado| %>
            <p class="card-text text-center">Tipo de bem Declarado: <%= declarado.tipo %></p>
            <p class="card-text text-center">Valor do bem Declarado: R$ <%= declarado.valor %></p>
            <hr>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade text-center" id="propostas" role="tabpanel" aria-labelledby="propostas-tab">
        <% if @candidato.proposta.attached? %>
          <p class="card-text text-center">Faça o download da proposta do candidato: <%= link_to @candidato.proposta.blob.filename, rails_blob_path(@candidato.proposta, disposition: "attachment") %></p>
          <%# <%= link_to @candidato.proposta.blob.filename %>
        <% else %>
          <p class="card-text text-center">Proposta não disponibilizada pelo(a) candidato(a)</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade log-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <%= render "shared/login_modal" %>
</div>
